[submodule "tests/lib/googletest"]
	path = tests/lib/googletest
	url = https://github.com/google/googletest.git
[submodule "build/_deps/eigen-src"]
	path = build/_deps/eigen-src
	url = https://gitlab.com/libeigen/eigen.git
[submodule "build/_deps/googletest-src"]
	path = build/_deps/googletest-src
	url = https://github.com/google/googletest.git
